<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="algorithm">

	<select id="algorithmResult" parameterType="PlantDTO" resultType="_int">
		select algorithm_result, select_one, select_two, select_three, select_four,
		select_five from tbl_algorithm
		where algorithm_result=#{algorithm_result}
	</select>
	
</mapper>