<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="gosu">

	<select id="selectAll" resultType="UserVO" parameterType="map">
		select tu.user_number , tu.user_nickname, tu.user_comment , tu.user_date, g.gosu_fields
		from tbl_user tu join tbl_gosu tg
		on tu.user_number = tg.user_number 
		join(
		select g.gosu_number, group_concat(f.field_name separator ', ')as gosu_fields  from tbl_field f
		join tbl_gosu_field gf on f.field_number = gf.field_number
		join tbl_gosu g on gf.gosu_number = g.gosu_number
		join tbl_user u on g.user_number = u.user_number
		group by g.gosu_number
		)as g on tg.gosu_number = g.gosu_number
		where grade_number = "500" order by user_date ASC
		limit #{startRow}, #{rowCount}
	</select>
	
	<select id="getTotal" resultType="_int">
		select count(user_number) from tbl_user
	</select>
	
	<insert id="insert" parameterType="GosuDTO">
		insert into tbl_gosu(gosu_plan, user_number)
		values(#{gosuPlan}, #{userNumber});
	</insert>
	
	<select id="getSequence" resultType="_int">
		select last_insert_id()
	</select>

</mapper>