<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="storyFile">
	<insert id="insert" parameterType="StoryFileDTO">
		insert into tbl_story_file
		(file_system_name1, file_original_name1, story_number, file_system_name2,
		file_system_name3, file_original_name2, file_original_name3)
		values(#{fileSystemName1},#{fileOriginalName1},#{storyNumber},#{fileSystemName2},#{fileSystemName3},#{fileOriginalName2},#{fileOriginalName3})
	</insert>



</mapper>