<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="story">
	<select id="selectAll" resultType="StoryListVO"
		parameterType="map">
		select s.story_number, s.story_title, u.user_nickname,
		uf.file_system_name
		AS user_profile_image, s.file_system_name
		from tbl_story s
		join tbl_user u ON s.user_number =
		u.user_number
		left outer join tbl_user_file uf ON u.user_number =
		uf.user_number
		order by story_number desc
		limit #{startRow},
		#{rowCount}
	</select>

	<select id="getTotal" resultType="_int">
		select count(story_number) from
		tbl_story
	</select>


	<insert id="insert" parameterType="StoryDTO">
		insert into tbl_story
		(story_title, story_content,story_date,last_update ,
		story_viewcnt,file_system_name,
		user_number)
		values (#{storyTitle},#{storyContent},now(),now(),0
		,#{fileSystemName},#{userNumber})
	</insert>

	<update id="cover" parameterType="StoryDTO">
		update tbl_story set file_system_name =#{fileSystemName} where story_number =#{storyNumber}
	</update>

	<select id="getSequence" resultType="_int">
		select last_insert_id()
	</select>

	<select id="select" parameterType="_int" resultType="StoryListVO">
		select s.story_number, s.story_title, s.story_content, s.story_viewcnt,
		s.story_date, last_update,
		u.user_nickname, uf.file_system_name as user_profile_image
		from tbl_story s
		inner join tbl_user u ON s.user_number = u.user_number
		left outer join tbl_user_file uf ON u.user_number = uf.user_number
		where s.story_number = #{storyNumber};
	</select>



	<update id="updateReadCount" parameterType="_int">
		update tbl_story
		set
		story_viewcnt = story_viewcnt + 1
		where story_number = #{storyNumber}
	</update>
</mapper>