<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<insert id="join" parameterType="MemberDTO">
	insert into tbl_user(user_id, user_password, user_name, user_nickname, user_phone, user_email, user_date)
	values(#{userId}, #{userPassword}, #{userName}, #{userNickname}, #{userPhone}, #{userEmail}, now())
	</insert>
	
	<select id="login" parameterType="MemberDTO" resultType="_int">
		select user_number from tbl_user
		where user_id = #{userId} and user_password = #{userPassword}
	</select>
	
	<select id="checkId" parameterType="string" resultType="_int">
		select count(user_number) from tbl_user
		where user_id = #{userId}
	</select>
	
	<select id="getMemberId" parameterType="_int" resultType="string">
		select member_id from tbl_member
		where member_number = #{memberNumber}
	</select>

</mapper>